body {
        margin: 0;
    font-family: Arial, sans-serif;
    background-color: #228122;

    }
    header {
        background-color: #1f3c88;
        color: white;
        padding: 20px 0;
    }
    nav a {
        color: white;
        margin-right: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    main {
        padding: 20px;
    }
    section {
        background: white;
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 5px;
    }
    footer {
        background-color: #1f3c88;
        color: white;
        text-align: center;
        padding: 10px 0;
        position: fixed;
        width: 100%;
        bottom: 0;
    }
